
/*Basic formatting*/
*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/*Fonts, I didn't feel like deleting the fonts i didn't need haha!*/
.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
/*Project CSS starts here*/

:root {
    --white: #FFFFFF;
    --light-grey: #F2F5F9;
    --dark-grey: #4A5567;
    --off-black: #111729;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--light-grey);
    font-family: "Lato";
    font-size: 1rem;
    color: var(--off-black);
}

.card-holder {
    max-width: 460px;
    margin: 248px auto;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 15px;
}

.hero-img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.overlay {
    margin-top: -64px;
}

h1 {
    margin-bottom: 12px;
    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: 600;
}

p {
    color: var(--dark-grey);
}

.description {
    padding-left: 32px;
    padding-right: 65px;
    margin-bottom: 24px;
    line-height: 1.5;
}

hr {
    margin-bottom: 24px;
    width: 100%;
    border: 1px solid var(--light-grey);
}

.owner-holder {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

h1, .owner-holder {
    padding-inline: 32px;
}

h2 {
    font-size: 1rem;
}

.owner-title {
    font-size: 16px;
}


.author-info {
    text-align: center;
}

.author-info a {
    color: deeppink;
    text-decoration: none;
}

